
@{
    ViewData["Title"] = "AdminPanel";
}

<h1>AdminPanel</h1>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="btn btn-outline-dark">
            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users crud</a>
        </li>
        <li class="btn btn-outline-dark">
            <a class="nav-link text-dark" asp-area="" asp-controller="Instruments" asp-action="Index">Instruments crud</a>
        </li>
        <li class="btn btn-outline-dark">
            <a class="nav-link text-dark" asp-area="" asp-controller="Lessons" asp-action="Index">Lessons crud</a>
        </li>
        <li class="btn btn-outline-dark">
            <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Roles crud</a>
        </li>
        <li class="btn btn-outline-dark">
            <a class="nav-link text-dark" asp-area="" asp-controller="UserLessons" asp-action="Index">UserLessons crud</a>
        </li>
    </ul>
</div>